.tilesContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.line {
  display: flex;
  gap: 5px;
}
.tile {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  font-size: 20px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.correct {
  background-color: lightgreen;
}

.contains {
  background-color: yellow;
}

.incorrect {
  background-color: lightgray;
}
